#
# Files created by the LaTeX compile process
#
*.aux
*.log
*.spl
*.gz
*.toc
*.idx


#
# Output .pdf files don't need to be updated in the repository
#
Heun_Dale_A_dynamic_approach_to_input-output_modeling_v7.pdf
Manuscript/Book/Heun_Dale_Haney_A_dynamic_approach_to_input_output_modeling.pdf
Manuscript/Journal/Heun_Dale_A_dynamic_approach_to_input-output_modeling_v8.pdf
Manuscript/Book_take_2/Heun_Dale_Haney_A_dynamic_approach_to_input_output_modeling.pdf

#
# Files from OSX
#
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db